body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-width:1600px;
    width:100%;
    overflow-x: hidden;
}

/*-- HEADER START ---*/


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    padding: 0;
}
header section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    height: 100vh;
}
#grid-container > header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#grid-container > main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#grid-container > footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}
nav {
    max-width: 800px;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}
.listitems {
    padding: 0.5rem;
}
.listitems a {
    text-decoration: none;
    color: black;

}
/*- Header for index.html -*/

/*-- Kode for gul boks rundt "Contact" --*/

#headline-background {
background-image: url('https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_1280.jpg'); 
background-size: cover; 
padding:2rem;
align-items:center;
}
#transperent-headline-bg {
    background-color: rgba(255, 255, 255, 0.5);
    padding:1rem;
    width:80%;

}
#contactbox {
    background-color: #e6bd43;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}
.contact-a {
    padding: 0.5rem;
  
}

/*- Kode for bold text og gul underlinje på linkene -*/


#hometext {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #e6bd43
}
#producttext {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #e6bd43
}
#abouttext {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #e6bd43
}
body header section {
    display:flex;
}
#readmoretext {
    padding: 0rem;
}
#readmoretext a{
   
    background-color: #e6bd43;
    border:1px;
    display: inline-block;
    padding:5px;
    text-decoration: none;
    color: black;
    font-weight:bolder;
}

/*- Header for products.html -*/
#portfoliosection {
    width: 100%;
    height: 200px;
}
#portfolio {
    text-align: center;
    height: 100px;
     margin-top: 2.67em;
}

.underline-full-width {
    border-bottom: 3px solid #e6bd43;
    width: 80%;
    display: inline-block;
    margin:1rem;
}
main section span h2 {
    text-align:left;
}
#branding article p, #design article p, #development article p {
    font-weight: bold;
}
#portfoliosection {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_1280.jpg'); 
    background-size: cover; 
    padding:2rem;
    align-items:center;
}
/*---Header for about --*/


#about-background {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_1280.jpg'); 
    background-size: cover; 
    padding:2rem;
    align-items:center;
}
#transperent-about-bg {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0rem;
    width:70%;
}
#get-in-touch a {
    text-decoration:none;
    color: black;
    background-color:#e6bd43;
    padding:0.5rem;
    font-weight:bolder;
}
/*-- HEADER END--*/


/*-- MAIN START--*/


/*- Main for index.html -*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    padding: 0;
}
main section {
    padding:2rem;
}
#yellowsection {
    background-color: #e6bd43;
}
#yellowsection img {
    max-width:250px;
}
main section#yellowsection p {
    padding:1rem;
    text-align:left;
}
#readmoreaboutus a {
    border-color: black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1rem;
    border-style: solid;

}


/*-- Formatering av ikoner--*/
.fa.fa-users {
    font-size: 2rem;
}
.fa.fa-cloud-upload {
    font-size: 2rem;

}
.fa.fa-code {
    font-size: 2rem;
}
.fa.fa-wifi {
    font-size: 2rem;
}
.fa.fa-map-marker {
    font-size: 2rem;
}
.fa.fa-phone {
    font-size: 2rem;
}
.fa.fa-envelope {
    font-size: 2rem;
}
.logo {
    height: 90%;
    width: auto;
    padding: 0.5rem;
  
}
/*-- Formatering av ikoner slutt--*/
#newlettersection {
    background-color: #cfcece;
    width:100%;
}
#newlettersection h2 {
    margin:0;
    margin-top: 3rem;
}
#signmeuplabel {
    display:flex;
    flex-direction:row;
    align-items: center;
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 0rem;
}    
#signmeuplabel label input {
    height: 44.6px;
 
}
#signmeup {
    background-color: #e6bd43;
    border-color: #e6bd43;
    padding: 0.9rem;
    font-weight:bold;
}


/*--MAIN FOR PRODUCTS-*/
.black-box {
    border: 2px solid black;
    text-decoration: none;
    color: black;
    width: 7rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding:0.5rem;
}

#prodmenu a {
    text-decoration:none;
}
#prodmenu article {
    display: flex;
    flex-wrap: wrap;

}
#prodmenu article a {
    padding:0.5rem;
}
img {
    max-width: 100%;
}

/*--MAIN FOR ABOUT----*/
#about-clients {
    padding:2rem;
    background-color:#e6bd43;
    width:100%;
}
.block-label {
    display: block;
    text-align:left;
}
.block-label input {
    display: block;
}
.about-labels {
    padding-right: 6.875rem;
}
#message-label {
    padding-right: 6.875rem;
    padding-bottom:10rem;
}
#send-message {
    text-align:left;
    background-color: #e6bd43;
    padding: 10px;
    display: inline-block;
    
}
#mapsection {
    padding:0;
    width:100%;
}
#send {
    display: inline-block;
    width: 100%;
    text-align: left;
}


/*-----MAIN END------*/
/*-----FOOTER------*/
body footer {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: #000;

}
footer p {
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
}
footer span {
    text-align:center;
    height: 108.6px;
    width: 115px;
    margin-top: 34px;
}

#footericons {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    margin-top: 1px;
}


.fa.fa-facebook-official {
    color: white;
    font-size:2rem;
    margin:5px;
}
.fa.fa-instagram {
    color: white;
    font-size:2rem;
    margin:5px;
}
.fa.fa-linkedin-square {
    color: white;
    font-size:2rem;
    margin:5px;
}
#contact-container {
    display: flex;
    flex-direction: column;
}
/*-----FOOTER END------*/
/*-Skip to top button-*/
.skip-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    color:white;
    background-color: #000;
}


/*-- MEDIA QUERY ---*/
@media only screen and (min-width:600px) {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    #grid-container > header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    #grid-container > main {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    #grid-container > footer {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    /*--- INDEX.HTML---*/
    /*---HEADER ---*/
    #nav-logo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    nav {
        max-width: 800px;
        width:unset;
    }
    nav ul {
        display:flex;
        margin-bottom: 0px;
        margin-top: 5rem;
        padding: 1rem;

    }
    /*--MAIN ---*/
    #yellowsection {
        display:flex;
    }
    #yellowsection article {
        text-align:left;
    }
    #yellowsection article h2 {
        padding-left: 2rem;
    }
    #readmoreaboutus {
        padding-left: 2rem;
    }
    #services-span {
        display:flex;
    }
    #signmeuplabel {
        display: flex;
        justify-content: center;
    }
    /*---- FOOOTER ---*/
    body footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #000;
        justify-content: space-between;
    }
    /*--- PRODUCTS.HTML ---*/
    #prodmenu, #branding, #design, #development {
        display: flex;
        flex-direction: column;
        padding:2rem;
        width:100%;
        text-align:left;
        
    }
    #prodmenu article {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 1rem;
    }
    #branding {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        width: 100%;
    }
    #branding-image {
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
    }
    #branding-container, #design-container {
        display:flex;
        flex-direction:row;
        justify-content:space-between;   
    }
    #development-container {
        display:flex;
        flex-direction:row;

    }
    .picture-format {
        padding:1rem;

    }
    main section article h3 {
        font-family: 'Roboto', sans-serif;
    }
      
    
    /*---- ABOUT.HTML ---*/
    #services-container {
        display:flex;
    }
    #contact-container  {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
    }
    #contact-container article {
        padding: 2rem;
    }
    #contact-title {
        width:100%;
    }
    .contact-icons {
        display: flex;
        justify-content: center;
    }
    .contact-p {
        margin-left: 1rem;
        margin-top: 0.5rem;
    }
    #mapsection {
        width:100%;
    }
    #iframe {
        width:100%;
    }
    /*-- Hover effects--*/  
    #contactbox a:hover {
    background-color: #252525;
    color: #e6bd43;
    }
    
    #readmoretext a:hover {
    background-color: #252525;
    color: #e6bd43;
}

    #readmoreaboutus a:hover {
    background-color: #252525;
    color: #e6bd43;
}
    #get-in-touch a:hover {
    background-color: #252525;
    color: #e6bd43;

}
   #signmeup:hover {
    background-color: #252525;
    color: #e6bd43; 
}
    .black-box:hover {
    background-color: #252525;
    color: #e6bd43;
}
.picture-format img {
    transition: transform 0.3s ease-in-out; 
/*-- Max width ---*/    
    max-width: 629px; 
/*-- Max width ---*/    
    width: 100%;
    height: auto;
}

.picture-format img:hover {
    transform: scale(1.1); 
}
}